/.idea/deployment.xml
/.idea/ecint.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/remote-mappings.xml
/.idea/rSettings.xml
/.idea/vcs.xml
/.idea/workspace.xml
